.backroundimage{
    background-image: url("https://fone-store-demo.myshopify.com/cdn/shop/files/ba7.jpg?v=1660640108");
    width: 100%;
    background-position:center;
    height: 700px;
    display: flex;
    justify-content: center;
    margin:20px 0;
    align-items: center;
}
.enjoydescription{
color: white;
margin-left: 15%;
}
.enjoydescription>button{
    width: 190px;
    height: 60px;
    background-color: white;
    transition: color 0.5s,background-color 0.5s;
}
.enjoydescription>button:hover{
    background-color: lightgreen;
    color: aliceblue;
}
@media screen and (max-width: 1200px){
.backroundimage{
    height: 500px;
}
.enjoydescription{
    margin-left: 16%;
}
}
@media screen and (max-width: 600px){
    .backroundimage{
        height: 300px;
    }  
}